@use '/public/styles/variables' as *;

.task__list {
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 1px solid color(container-background);
    position: relative;
    list-style: none;
}