@use '/public/styles/variables' as *;

.task__list {

    &--item-flex {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        border-bottom: 1px solid #77777736;
        user-select: none;
    }

    &--text {

        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.checked {
    color: color(marked-text);
    text-decoration: line-through;
}

.cross-button {
    position: absolute;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.hide {
    display: none;
}