@use '/public/styles/variables' as *;

.checkbox {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color(filters);

    &__button {
        background-color: transparent;
        border: none;
    }

    &:not(.checked) {
        & .aux {
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: color(container-background);
        }
    }

    &:not(.checked):hover {
        background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }
}

.checkbox svg {
    display: none
}

.checkbox.checked svg {
    display: flex;
}

.checkbox.checked {
    background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}