@use '/public/styles/main' as *;

.container {
    width: 100%;
    padding: 6.3rem 3.2rem;
    min-height: 100vh;
    height: max-content;
    background-image: img(background-mobile);
    background-repeat: no-repeat;
    background-size: 100% 270px;
    transition: all .5s;
    background-color: color(background);

    @media only screen and (min-width: 700px) {
        background-image: img(background-desktop)
    }

    &>* {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;

    }
}