@use '/public/styles/variables' as *;

.filters {
    display: flex;
    padding: 0 2.5rem;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: color(filters);

    &__items--left {}

    &__clear-completed {
        cursor: pointer;

        &:hover {
            color: color(text-hover)
        }
    }
}