@use '/public/styles/variables' as *;

.filters {
    display: flex;
    padding: 0 2.5rem;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: color(filters);

    &__items--left {
        flex: 1;
    }

    &__filter {
        position: absolute;
        bottom: -9rem;
        display: flex;
        width: 100%;
        left: 0;
        align-items: center;
        justify-content: center;
        height: 6rem;
        background-color: color(container-background);
        gap: 2rem;
        border-radius: 5px;



        &--all {
            cursor: pointer;

            &:hover {
                color: color(text-hover);
            }
        }

        &--active {
            cursor: pointer;

            &:hover {
                color: color(text-hover)
            }
        }

        &--completed {
            cursor: pointer;

            &:hover {
                color: color(text-hover)
            }
        }
    }

    &__clear-completed {
        cursor: pointer;

        &:hover {
            color: color(text-hover)
        }
    }
}

.filter-active {
    color: hsl(220, 98%, 61%);

    &:hover {
        color: hsl(220, 98%, 61%);
    }
}

@media only screen and (min-width: 700px) {

    .filters__filter {
        position: relative;
        bottom: auto;
        gap: 1rem;
        background-color: transparent;
        border: none;
        flex: 1;

    }

}