@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$font-primary: 'Josefin Sans', sans-serif;


[data-theme="light"] {
    --color-background: hsl(0, 0%, 98%);
    --color-container-background: #FFF;
    --color-text: hsl(236, 9%, 61%);
    --color-text-hover: hsl(236, 9%, 61%);
    --color-marked-text: hsl(236, 33%, 92%);
    --color-input-text: hsl(233, 11%, 84%);
    --color-filters: hsl(235, 19%, 35%);
    --color-mark-button: hsl(0, 0%, 98%);
    --img-background-mobile: url(/assets/bg-mobile-light.jpg);
    --img-background-desktop: url(/assets/bg-desktop-light.jpg);
}

[data-theme="dark"] {
    --color-background: hsl(235, 21%, 11%);
    --color-container-background: hsl(235, 24%, 19%);
    --color-text: hsl(234, 39%, 85%);
    --color-text-hover: hsl(236, 33%, 92%);
    --color-marked-text: hsl(233, 14%, 35%);
    --color-input-text: hsl(234, 11%, 52%);
    --color-filters: hsl(234, 11%, 52%);
    --color-mark-button: hsl(233, 14%, 35%);
    --img-background-mobile: url(/assets/bg-mobile-dark.jpg);
    --img-background-desktop: url(/assets/bg-desktop-dark.jpg);
}

@function color($color-name) {
    @return var(--color-#{$color-name});
}

@function img($img-name) {
    @return var(--img-#{$img-name});
}