@use '/public/styles/variables' as *;

.card {
    width: 100%;
    background-color: color(container-background);
    border: .5px solid rgba(0, 0, 0, .1);
    height: 6rem;
    color: color(text);
    font-weight: 500;
    font-size: 1.6rem;
}